@import url("https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto";
  background: #000;
}
#name-game {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000 url(../textures/starGame.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
/*----------- Start loading animation progress -------------*/
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.percent {
  /* color: #999; */
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  background: -webkit-linear-gradient(#ff00ff, #9370db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.progress-bar {
  width: 406px;
  height: 21px;
  /* background: #111; */
  border-radius: 13px;
  padding: 3px;
  box-sizing: border-box;
}
.progress {
  width: 10px;
  height: 15px;
  background: #f60d54;
  border-radius: 13px;
}
@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

#loading-screen {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #000000; */
  background: #000 url(../textures/starGame.gif);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: 1s opacity;
}

#loading-screen.fade-out {
  opacity: 0;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ba55d3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff00ff;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* End loading animation progress */

/* ----------Start show name of game------------- */
/* Animation properties */
.star {
  animation: star 10s ease-out infinite;
}
.wars {
  animation: wars 10s ease-out infinite;
}
.byline span {
  animation: spin-letters 10s linear infinite;
}
.byline {
  animation: move-byline 10s linear infinite;
}

/* Keyframes */
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes spin-letters {
  0%,
  10% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%,
  86% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%,
  100% {
    opacity: 0;
  }
}

@keyframes move-byline {
  0% {
    transform: translateZ(5em);
  }
  100% {
    transform: translateZ(0);
  }
}

/* Make the 3D work on the container */
.starwars-demo {
  perspective: 800px;
  transform-style: preserve3d;
}

/* General styles and layout */
/* body {
    background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
  } */

.starwars-demo {
  height: 17em;
  left: 50%;
  position: absolute;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 34em;
}

.byline span {
  display: inline-block;
}

img {
  width: 100%;
}

.star,
.wars,
.byline {
  position: absolute;
}

.star {
  top: -0.75em;
}

.wars {
  bottom: -0.5em;
}

.byline {
  color: #fff;
  font-family: "ITC Serif Gothic", Lato;
  font-size: 2.25em;
  left: -2em;
  letter-spacing: 0.4em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 40%;
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
  .starwars-demo {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .starwars-demo {
    font-size: 7px;
  }
}

/* --------------Start Game----------- */
.start-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
.start-game .start {
  margin-top: 500px;
}

/* --------------End Game----------------- */
html,
body {
  height: 100%;
  margin: 0;
}
.end-game-box {
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  background: #000 url(../textures/starGame.gif);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
}

.end-game-box .game-over {
  padding: 20px;
  width: 500px;
  height: 340px;
  text-align: center;
}

.end-game-box * {
  margin: 0;
  padding: 5px;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  border-radius: 13px;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* uncopy */
.uncopy {
  pointer-events: none;
}

/* score */
#center {
  transform-style: preserve-3d;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translateY(-50%) translateX(-50%);
  display: none;
  padding: 10px 20px;
  /* background-color: #fdf1fa; */
  border-radius: 5px;
}

#score {
  margin-top: 30px;
  transform-style: preserve-3d;
  font-size: 60px;
  font-weight: 600;
  color: #753885;
}

.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
}

body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #010a00;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  font-family: "Goldman", cursive;
}

/* button */
.bubbly-button {
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 20px;
  color: #fdf252;
  font-family: "Goldman", cursive;
}

.bubbly-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.bubbly-button:active {
  color: #fff;
}

.bubbly-button:before {
  opacity: 1;
}

.bubbly-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* pop-up story */

.box {
  position: absolute;
  margin: 0 auto;
  padding: 35px;
  text-align: center;
  right: 15px;
}

.button {
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  top: 20%;
}

.popup h2 {
  margin-top: 0;
  color: #ffffff;
}
.popup .close {
  position: absolute;
  top: 0;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  color: #ffffff;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

/* tutorial */
.box-2 {
  top: 65px;
}

/* velocity */

.velocity {
  display: none;
  bottom: 50px;
  right: 22%;
  font-size: 30px;
  color: #753885;
  position: absolute;
}

.velocity img {
  width: 10%;
}

.velocity #velocity {
  position: absolute;
  top: 35%;
  left: 10%;
}

#winner {
  display: none;
}
